<nav class="navbar navbar-expand-lg p-2">
  <a class="navbar-brand" href="/">DEAR <span><img class="img-fluid" src="/images/p2logonotype.svg" alt="logo"></span> DIARY</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    {{#if isAuthenticated}}
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active ms-auto">
        <button type="button" id="nav-dashboard" class="btn btn-outline-success"><a class="nav-link" href="/">Dashboard</span></a></button>
      </li>
      <li class="nav-item ms-auto">
        <button id="logout" class="nav-link nav-btn btn btn-outline-success">Logout</button>
      </li>
    </ul>
    {{ else}}
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active ms-auto">
        <button type="button" id="nav-login" class="btn btn-outline-success btn-login ">
        <a class="nav-link nav-login" href="/login">Login</span></a>
        </button>
      </li>
      <li class="nav-item ms-auto">
        <button type="button" id="nav-signup" class="btn btn-outline-success btn-signup">
        <a class="nav-link nav-signup" href="/register">Signup</span></a>
        </button>
      </li>
    </ul>
    {{/if}}
</nav>
