<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Pages of My Mind</title>
  <link href="/css/tailwind.css" rel="stylesheet">
  <script src="/js/script.js" async></script>
</head>

<body>

  <h1 class="text-4xl text-purple-200 bg-teal-900">TESTING</h1>
  {{> navbar isAuthenticated=this.isAuthenticated }}
  {{> toast}}
  {{{ body }}}
  {{#if isAuthenticated}}
  <script src="/js/logout.js"></script>
  {{/if}}
  {{!-- form validation for Bootstrap inputs --}}
  <script>
    (function () {
      'use strict'
      const forms = document.querySelectorAll('.requires-validation');
      Array.from(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>
</body>

</html>