<h1 class="text-center mt-5">{{ welcomeMessage }}</h1>


<p class="text-center mt-3 mb-0">To View Your Journals <a href="/journals">Click here</a></p>


{{!-- DN Test --}}
{{!-- <div class="wrapper">
  <div class="aspect">
    <div class="aspect-inner">
      <div class="flipbook" id="journal">
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
      </div>
    </div>
  </div>
</div> --}}

  {{!-- DN Test --}}
  <script src="/js/pageTurnHandler.js"></script>
  {{!--  --}}



{{!-- DN Test --}}