<div class="container-fluid bg-image ">
<h1 class="text-center text-light p-5">{{ welcomeMessage }}</h1>


<h3 class="text-center mt-3 mb-0 text-light">To View Your Journals <a href="/journals">Click here</a></h4>
</div>

