<div class='px-4 py-5 my-5 text-center p2-hero'>
  <h1 class='display-5 fw-bold hero-headline'>{{welcomeMessage}}</h1>
  <div class='col-lg-6 mx-auto hero-content'>
    <hr />
    <p class='lead mb-4 hero-body'>To View Your Journals
      <a href='/journals'>Click here</a></p>
  </div>
</div>