<div class="container-fluid bg-image">

<h1 style="font-family: Chicago" class="text-center text-light p-10 ">Welcome to the Pages of my Mind!<br>Where you can unload your thoughts in a safe and secure platform.<br>You can always have peace of mind knowing your thoughts are more <br>tucked away than the journal hiding under your bed!</h1>

</div>