<div class='px-4 py-5 my-5 text-center p2-hero'>
  <h1 class='display-5 fw-bold hero-headline'>Dear diary...</h1>
  <div class='col-lg-6 mx-auto'>
    <p class='lead mb-4'><br />I want a safe place to store my thoughts and
      Ideas. Someplace I can go and just be me. By myself. For myself.</p>
  </div>
</div>