<div class='px-4 py-5 my-5 text-center p2-hero'>
  <img
    class='d-block mx-auto mb-4'
    src='/docs/5.0/assets/brand/bootstrap-logo.svg'
    alt=''
    width='72'
    height='57'
  />
  <h1 class='display-5 fw-bold'>Welcome to the <br /> Pages of my Mind!</h1>
  <div class='col-lg-6 mx-auto'>
    <p class='lead mb-4'><br />Where you can unload your thoughts in a safe and
      secure platform.<br />You can always have peace of mind knowing your
      thoughts are more tucked away than the journal hiding under your bed!</p>
    {{! <div class='d-grid gap-2 d-sm-flex justify-content-sm-center'>
      <button type='button' class='btn btn-primary btn-lg px-4 gap-3'>Primary
        button</button>
      <button
        type='button'
        class='btn btn-outline-secondary btn-lg px-4'
      >Secondary</button>
    </div> }}
  </div>
</div>