

{{!-- DN Test --}}
<div class="wrapper">
  <div class="aspect">
    <div class="aspect-inner">
      <div class="flipbook" id="journal">
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary btn-lg w-50 mt-4 p-3" id="delete-journal-btn">
  Delete Journal
</button>


  {{!-- DN Test --}}
  <script src="/js/pageTurnHandler.js"></script>
  <script src="/js/delete-journal.js"></script>
  {{!--  --}}



{{!-- DN Test --}}