{{!-- DN Test --}}
<div class="inline">
<h1>Title {{title}}</h1>
        <button class="btn btn-success btn-sm w-10 mt-4 p-3" data-id='{{this.id}}'>
           Edit Journal Title and Description
        </button>
        <button class="btn btn-danger btn-sm w-10 mt-4 p-3" id="delete-journal-btn">
            Delete Journal
        </button>

</div>

<div>
<div class="wrapper">
  <div class="aspect">
    <div class="aspect-inner">
      <div class="flipbook" id="journal">
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
      </div>
    </div>
  </div>
</div>

</div>




  {{!-- DN Test --}}
  <script src="/js/pageTurnHandler.js"></script>
  <script src="/js/delete-journal.js"></script>
  {{!--  --}}



{{!-- DN Test --}}