{{!-- DN Test --}}
<div class="inline text-center">
<h1 class="text-center">Title: {{journalData.title}}</h1>
<h2 class="text-center"> Description: {{journalData.content}}</h2>
<h3 class="text-center"> Created On: {{format_date journalData.date}}</h3>
        <button class="btn btn-success btn-sm w-10 mt-4 p-3" data-id='{{this.id}}' id="edit-journal-btn">
           Edit Journal Title and Description
        </button>
        <button class="btn btn-danger btn-sm w-10 mt-4 p-3" id="delete-journal-btn">
            Delete Journal
        </button>
        <button type="button" class="btn btn-secondary btn-sm w-10 mt-4 p-3" onclick="history.back()">Go Back</button>
</div>

<div>
<div class="wrapper">
  <div class="aspect">
    <div class="aspect-inner">
      <div class="flipbook" id="journal">
        <div class="page"><h1>Title</h1></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
        <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div>
      </div>
    </div>
  </div>
</div>

</div>

//we can use charmonman font for the users journal entries. it is a nice cursive


  {{!-- DN Test --}}
  <script src="/js/pageTurnHandler.js"></script>
  <script src="/js/edit-delete-journal.js"></script>
  {{!--  --}}



{{!-- DN Test --}}