<p class="text-center mt-3 mb-0">This page will render a form that has a Title: followed by a 
    textarea for the user to input a title. Below should have a title Description: followed by 
    another textarea for the user to put in a brief note/description of what this to be created
    jounral will be about. Form should have submit button at the bottom. HTML code for this form 
    goes into new-journal.handlebars file. We should link the form to either the script.js file 
    or a new file on its own with the code to handle creating a new journal with the users entered 
    data and saving it into the database.
</p>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <form id="new-journal-form" class="new-journal-form shadow p-4 my-5 mx-auto bg-body rounded w-75 requires-validation"
        novalidate>
        <div>
            <div id="login-alert"></div>
          <label for="title" class="form-label">Title</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="journal-title" required>
            <div class="invalid-feedback">Please enter a title for your Journal</div>
          </div>
        </div>
        <div>
          <label for="password" class="form-label">Journal Description</label>
          <div class="input-group has-validation">
            <input type="textarea" class="form-control" id="journal-desc" required>
            <div class="invalid-feedback">Please enter a brief description for this journal.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg w-100 mt-4 p-3">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/new-journal.js"></script>