<p class="text-center mt-3 mb-0">This page will render a form that has a Title: followed by a 
    textarea for the user to input a title. Below should have a title Description: followed by 
    another textarea for the user to put in a brief note/description of what this to be created
    jounral will be about. Form should have submit button at the bottom. HTML code for this form 
    goes into new-journal.handlebars file. We should link the form to either the script.js file 
    or a new file on its own with the code to handle creating a new journal with the users entered 
    data and saving it into the database.
</p>